body {
    margin: 0px;
    background-image: linear-gradient(90deg, rgb(94, 11, 247) , rgb(220, 6, 248));
  }

#myCanvas{
  position: absolute;
}

.ball{
  display: flexbox;
  background-color:rgb(255, 255, 255);
  opacity: 15%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

